# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
*.egg
*.egg-info/
dist/
build/
*.log

# Django specific
*.sqlite3
db.sqlite3
/media/
staticfiles/
*.pot

# Environment variables
.env

# IDE specific
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak
*.tmp
.DS_Store
Thumbs.db

/venv/